table, td, tr, th {
    border: solid 2px black;
    border-style: double;
    font-size: xx-large;
    text-align: center;
    background-color: yellow;
}

th.espaco {
    background-color: white;
    border: solid 2px black;
    border-style: double;
    font-size: xx-large;
    text-align: center;
}

table>thead>tr:first-child>th:first-child {
    background-color: white;
}