h2 {color: rgba(255, 0, 51, 0.76);}

h2 {background-color: rgba(255, 255, 255, 0.192);}

p  {color: rgb(255, 255, 255);}

hr {border-color: rgba(255, 0, 0, 0.582);}

h1 {color: rgba(255, 0, 0, 0.795);}

