p {color: rgb(0, 26, 255);}

h1 {color: rgb(68, 0, 255);}

.circulo > img {
    width: 200px;
    height: 200px;
    border-radius: 180px;    
    background-color: rgb(3, 12, 94);
    border-color: black;
    border-width: 2px;
    padding: 10px;
               }
